projects {
    ECTDNA {
        reference = "hg38"
        workflows {
            runAlignment = true
            runVariantCalling = false
            runQC = true
        }
        param1 = 'value1'
        param2 = 'value2'
    }

    project_2 {
        reference = "hg19"
        workflows {
            runAlignment = false
            runVariantCalling = true
            runQC = true
        }
        param1 = 'valueA'
        param2 = 'valueB'
    }
}
