projects {
    ECTDNA {
        reference = "hg38"
        workflows {
            runAlignment = true
            runVariantCalling = false
            runQC = true
        }
        addParem = 'no_addParem'
        sort_bam = true
        vep_targetBed = ''
        gatk = 'gatk/4.1.7.0'
    }

    PROJ2 {
        reference = "hg38"
        workflows {
            runAlignment = true
            runVariantCalling = true
            runQC = true
        }
        addParem = 'no_addParem'
        sort_bam = true
        vep_targetBed = ''
        gatk = 'gatk/4.1.7.0'
    }
}
