projects {
    ECTDNA {
        reference = "hg38"
        workflows {
            runAlignment = true
            runVariantCalling = false
            runQC = true
        }
        addParem = 'no_addParem'
        sort_bam = true
    }

    PROJ2 {
        reference = "hg38"
        workflows {
            runAlignment = true
            runVariantCalling = true
            runQC = true
        }
        addParem = 'no_addParem'
        sort_bam = true
    }
}
